/*miss i am dead*/

body {  
    font-family: 'Lato';  
    margin: 0;  
    padding: 0;  
    height: 100vh;  
    position: relative;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-attachment: fixed;
    
    height: 505vh;
    
    
  }  
    
  body .a:link {  
    color: rgb(255, 8, 0);  
    background-color: transparent;  
    text-decoration: none;  
  }  
    
  body::before { 
    background-attachment: fixed;   
    content: "";  
    position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    background-image: url('HD-wallpaper-video-game-ultrakill.jpg');  
    background-repeat: no-repeat;
    background-color: red;  
    background-size: cover;  
    background-position: center;  
    filter: blur(5px);  
    z-index: -1;  
  }  
    
  .content-overlay {  
    position: relative;  
    z-index: 1;  
  }  
    
  .header {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding: 10px 20px;  
    background: rgba(255, 255, 255, 0.3);  
    backdrop-filter: blur(5px);  
    background-color: rgba(149, 0, 0, 0.752);  
    border-radius: 0px 0px 5px 5px;  
    color: white;  
  }  
    
  .left, .center, .right {  
    flex: 1;  
  }  
    
  .left {  
    text-align: left;  
  }  
    
  .center {  
    text-align: center;  
  }  
    
  .right {  
    text-align: right;  
  }  
    
  .right a {  
    margin-left: 15px;  
  }  
    
  .grid-container {  
    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(auto-fill, 1fr);  
    grid-auto-flow: row;  
    grid-gap: 0;  
    margin: 0;  
    padding: 0;  
    overflow-y: auto;  
    height: 100vh;  
  }  
    
  .grid-item {  
    font-family: "BroshK";
    color: rgb(0, 0, 0);
    grid-column: span 1; 
    display: flex;  
    flex-direction: column;  
    grid-row: auto;  
    align-items: center;  
    background-color: #ff000079;  
    margin: 10px;  
    padding: 20px;  
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    width: 350px;  
  }  
    
  .inspect-button {  
    background-color: #ff1500d3;  
    color: #ffffff;  
    border: none;  
    padding: 10px 20px;  
    font-size: 16px;  
    cursor: pointer;  
    width: 350px;  
    font-family: "VCR"; 
  }  
    
  .buy-button {  
    background-color: #00ff009e;  
    color: #ffffff;  
    border: none;  
    padding: 10px 20px;  
    font-size: 16px;  
    cursor: pointer;  
    width: 350px;  
    border-radius: 0px 0px 5px 5px;
    font-family: "VCR";  
  }  
    
@font-face {
  font-family: 'VCR';
  src: url(vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
  font-family: 'BroshK';
  src: url(broshk/BroshK_SVG-in-OT/BroshK.ttf);
}